<h1>Listing messages</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= link_to message.content, message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
<p></p>
<%= link_to 'Projects', projects_path %>
<%= link_to 'Platforms', platforms_path %>
<%= link_to 'Document Types', document_types_path %>
<%= link_to 'Documents', documents_path %>

