<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @message.content %>

</p>

<p>
<table border="1">
  <tr>
    <th>Language</th>
    <th>Translation</th>


    <th></th>
    <th></th>
  </tr>

<% @translations.each do |translation| %>
  <tr>

    <td><%= translation.language.title %></td>
    <td><%= link_to translation.content, message_translation_path(@message,translation) %></td>

    <td>
		<%# if authorized? hash_for_edit_message_context_path %>
			<%=  link_to ts('edit.this'), edit_message_translation_path(@message,translation) %> |
		<%# end %>
	</td>
    <td>
		<%# if authorized? hash_for_context_path(:action => 'destroy') %>
		<%=  link_to ts('delete.this'), message_translation_path(@message,translation), :confirm => te('delete.confirmation'), :method => :delete %> 
		<%# end %>
	</td>
  </tr>
<% end %>
</table>
</p>
<p>
	<% if authorized? hash_for_new_message_translation_path %>
	<%=  link_to ts('new.record', :what => 'Translation'), new_message_translation_path(@message) %> 
	<% end %>
</p>



<table border="1">
  <tr>
    <th>Project</th>
    <th>Platform</th>
	<th>Document</th>
	<th>Context</th>

    <th></th>
    <th></th>
  </tr>

<% @contexts.each do |context| %>
  <tr>
    <td><%= context.document.project.name %></td>
    <td><%= context.document.document_type.platform.name %></td>
	<td><%= context.document.document_type.name %></td>
	<td><%= link_to context.key, message_context_path(@message,context) %></td>

    <td>
		<% if authorized? hash_for_edit_message_context_path %>
			<%=  link_to ts('edit.this'), edit_message_context_path(@message,context) %> |
		<% end %>
		<%#= link_to 'Edit', edit_message_context_path(@message,context) %>
	</td>
    <td>
		<% if authorized? hash_for_message_context_path(@message,context,:action => 'destroy') %>
		<%=  link_to ts('delete.this'), message_context_path(@message,context), :confirm => te('delete.confirmation'), :method => :delete %> 
		<% end %>
		<%#= link_to 'Destroy', context, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
	</td>
  </tr>
<% end %>
</table>
<p>
	<% if authorized? hash_for_new_message_context_path %>
	<%=  link_to ts('new.record', :what => 'Context'), new_message_context_path(@message) %> 
	<% end %>
	<%#= link_to 'New Context', new_message_context_path(@message) %>
</p>

<br/>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
