<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @message.content %>

</p>

<p>
  <!--<b>Contexts:</b> -->
  <%#= @message.content %>
</p>

<table>
  <tr>
    <th>Project</th>
    <th>Platform</th>
	<th>Document</th>
	<th>Context</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contexts.each do |context| %>
  <tr>
    <td><%= context.document.project.name %></td>
    <td><%= context.document.document_type.platform.name %></td>
	<td><%= context.document.document_type.name %></td>
	<td><%= context.key %></td>
    <td><%#= link_to 'Show', document_type %></td>
    <td><%= link_to 'Edit', edit_message_context_path(@message,context) %></td>
    <td><%= link_to 'Destroy', context, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<p>
<%= link_to 'New Context', new_message_context_path(@message) %>
</p>

<br/>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
