<p id="notice"><%= notice %></p>



<p>
  <b>Language:</b>
  <%= @translation.language.title %>
</p>

<p>
  <!--<b>Context:</b>-->
  <%#= @translation.context.key %>
</p>

<p>
  <b>Content:</b>
  <%= @translation.content %>
</p>


<%#= link_to 'Edit', edit_translation_path(@translation) %>
<% if @context.blank? %>
<%= link_to 'Edit', edit_message_translation_path(@message,@translation) %>|
<%= link_to 'Back', message_path(@message) %>
<% else %>
<%= link_to 'Edit', edit_message_context_translation_path(@message,@context,@translation) %>|
<%= link_to 'Back', message_context_path(@message,@context) %>
<% end %>

